.profileModal
{
  width: 20%; min-width: 300px;
}

.profilePicture
{
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    width: 160px;
    height: 160px;

}
.profileModalTeacher
{
  width: 20%; min-width: 350px;
}

#thesis_name
{
    height: 4;
    min-width: 300px;

}

textarea
{
	resize: none;
}
